doctype html
head
  meta(charset='UTF-8')
  title=title 
  link(href='/css/bootstrap.css' rel='stylesheet')

include components/navbar.pug

form.mx-3(method="POST")
  .row.mx-3
    .form-group.col-md-8
      label(for='name') Employee
      select#name.form-control(type='text' name="employee" placeholder='First Name' required)
        each employee in employees 
          option(value=employee.id) #{employee.name} #{employee.surname} <i>(#{employee.seniority})</i>
       
    .form-group.col-md-2
      label(for='brand') Specialization Brand
      select#brand.form-control(name="brand" required)
        each brand in brands 
          option(value=brand.id) #{brand.name}
    button.btn.btn-primary.mt-4.col-md-2(type='submit') Create

script(src='/js/bootstrap.bundle.min.js' type='module')
